
.container2 {
    padding: 0 72px;
    max-width: 1366px;
    margin: 0 auto;
    padding-bottom: 0;
    overflow: scroll;
    overflow-y: visible;

    &::-webkit-scrollbar {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .container2 {
        padding: 0 20px;
    }
}

@media screen and (max-width: 600px) {
    .container2 {
        padding: 0;
    }
}
